# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Dependencias
node_modules/

# Sistema
.DS_Store
Thumbs.db
